<div class="row">
  <div class="col-12 col-sm-6">
    <ng-template #typeaheadOptionTemplate let-r="result" let-t="term">
      <img [src]="r.flag" class="mr-1" style="width: 16px" />
      <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>

    <h4>Vicoders Ngx Form Platform</h4>
    <form [formGroup]="demoForm" (ngSubmit)="onSubmit()">
      <ng-template ngxFormAnchor [controls]="demoForm.controls"></ng-template>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
